.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: white;
    padding: 4px;
    margin-left: 25px;
    border: 0px;
    width: 5vw;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}

.card-item img {
    width: 150px;
}

.card-item img:hover {
    width: 155px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin: 45px;
    justify-content: space-between;
}

.offer {
    color: rgba(7, 155, 7, 0.952);
}